form {
  position: relative;

  input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .input-toggle {
    padding: 40px;
    overflow: hidden;

    input {
      position: absolute;
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      display: none;

      &:checked {
        + label {
          background-color: #A5DC86;
          box-shadow: none;
        }
      }
    }

    label {
      padding: 6px 14px;
      display: inline-block;
      width: 60px;
      background-color: #e4e4e4;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      text-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      transition: all 0.1s ease-in-out;

      &:hover, &:active, &:focus {
        cursor: pointer;
      }

      &:first-of-type {
        border-radius: 4px 0 0 4px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
