@import './_typography.css';
@import './_form.css';

.location-header {
  position: relative;
  padding: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.location-header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, .5);
}

.location-header .header-content {
  position: relative;
  padding: 25px;
  z-index: 1;
}

.city-details {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.city-details img {
  display: block;
  width: 20px;
  height: 20px;
}

.city-details .conditions .temperature>p {
  margin-bottom: 10px;
}

.city-details .conditions .high-low .high {
  margin-bottom: 10px;
  color: orange;
}

.city-details .conditions .high-low .low {
  color: lightblue;
}